@font-face {
  font-family: "iconfont"; /* Project id 1016267 */
  src: url('iconfont.woff2?t=1627626408039') format('woff2'),
       url('iconfont.woff?t=1627626408039') format('woff'),
       url('iconfont.ttf?t=1627626408039') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
  content: "\e609";
}

.icon-Clouddownload-Filled:before {
  content: "\e6bd";
}

.icon-play1:before {
  content: "\e607";
}

.icon-play2:before {
  content: "\e608";
}

.icon-music-icon_pause:before {
  content: "\e633";
}

.icon-save:before {
  content: "\e75a";
}

.icon-save1:before {
  content: "\e625";
}

.icon-save-as-o:before {
  content: "\e604";
}

.icon-save-as-o1:before {
  content: "\e6a3";
}

.icon-save_as:before {
  content: "\e6d7";
}

.icon-Save-as:before {
  content: "\e8ab";
}

.icon-remove:before {
  content: "\e642";
}

.icon-downarrow:before {
  content: "\e60a";
}

.icon-toparrow:before {
  content: "\ec7a";
}

.icon--remove:before {
  content: "\e64f";
}

.icon-down-arrow:before {
  content: "\e606";
}

.icon-remoteaccess:before {
  content: "\e749";
}

.icon-remote:before {
  content: "\e78c";
}

.icon-recharge:before {
  content: "\e6de";
}

.icon-liushifenxi:before {
  content: "\e636";
}

.icon-dantirenyuanfenxi:before {
  content: "\e60c";
}

.icon-gaikuang:before {
  content: "\e603";
}

.icon-zaixian:before {
  content: "\e673";
}

.icon-network:before {
  content: "\e729";
}

.icon-Tools:before {
  content: "\e76e";
}

.icon-WeChat-LC:before {
  content: "\e61b";
}

.icon-segmentfault:before {
  content: "\e601";
}

.icon-weibo:before {
  content: "\e62e";
}

.icon-github:before {
  content: "\e6d4";
}

.icon-dysms:before {
  content: "\e726";
}

.icon-yundunzhengshu:before {
  content: "\e68d";
}

.icon-yuming:before {
  content: "\e71a";
}

.icon-dcdn:before {
  content: "\e724";
}

.icon-ecs:before {
  content: "\e725";
}

.icon-dns:before {
  content: "\e605";
}

.icon-rolemanagement:before {
  content: "\e658";
}

.icon-wanjiaxinxi:before {
  content: "\e60e";
}

.icon-operationalmonitori:before {
  content: "\e88a";
}

.icon-datastatistics:before {
  content: "\e64a";
}

.icon-system:before {
  content: "\e69d";
}

.icon-icons-system:before {
  content: "\e61a";
}

.icon-gm:before {
  content: "\e600";
}

.icon-passport:before {
  content: "\e634";
}

.icon-weibiaoti3:before {
  content: "\e60b";
}

.icon-team:before {
  content: "\e64e";
}

.icon-account:before {
  content: "\e602";
}

.icon-Passport:before {
  content: "\e612";
}

.icon-passport1:before {
  content: "\e737";
}

.icon-icsettingsinputco:before {
  content: "\e813";
}

.icon-Fill:before {
  content: "\e6ce";
}

.icon-ok:before {
  content: "\e799";
}

.icon-platform:before {
  content: "\e61d";
}

.icon-user:before {
  content: "\e629";
}

.icon-menu-unfold:before {
  content: "\e954";
}

.icon-menu-fold:before {
  content: "\e955";
}

