// ------------------------------------
// Sass Style
// ------------------------------------


.dashboard-body .bodyer {
  transition: all .5s;
  display: flex;
  flex: 1;
  flex-direction: row;
  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;

  .el-loading-mask {
    background-color: rgba(255,255,255,.1);
  }

  .sidebar-nav {
    flex: 0 0 260px;
    height: inherit;
    background: #444c54;
    border-right: solid 1px #e6e6e6;
    transition: all .2s;
    display: flex;
    flex-direction: column;
  
    .el-loading-mask {
      background-color: #000;
      opacity: .1;

      .el-loading-spinner {
        top: 30%;
      }
    }
  }

  .page-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    min-width: 940px;

    main {
      padding: 70px 30px 100px 30px;

      h1, h2, h3, h4, h5 {
        font-weight: 400;
        color: #444242;
      }

      h2 {
        font-size: 28px;
      }

      h3 {
        font-size: 24px;
      }

      h4 {
        font-size: 20px;
      }

      h5 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
        color: #5e6d82;
        line-height: 1.5em;
        margin: 10px 0;
      }

      .auto-container {
        display: flex;
        // margin: auto;

        &.vertical {
          flex-direction: column;
          // align-items: center;
        }

        &.horizontal {
          flex-direction: row;
          // flex-wrap: wrap;
          // justify-content: space-between;
        }
      }
    }

    .breadcrumb {
      position: absolute;
      width: 100%;
      padding: 20px 30px 0 30px;
      background-color: #fff;
      z-index: 5;

      .el-breadcrumb {
        padding-left: 10px;
        line-height: 15px;
        position: relative;
        height: 18px;
        border-left: 2px #49a9ee solid;
        margin-bottom: 28px;
        min-width: max-content;
    
        &::after {
          content: "";
          display: block;
          height: 1px;
          width: 100%;
          background: rgba(0,0,0,.2);
          position: absolute;
          top: 32px;
          left: -2px;
        }
      }
    }

    .el-table {
  
      .cell {
        text-overflow: unset;
      }
  
      td>.cell {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: monospace;
  
        .state-unread {
          font-size: 24px;
          color: #428bca;
          line-height: 16px;
        }

        .el-link {
          display: unset;

          span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }

        .el-button+.el-button {
          margin-left: 0;
        }

        .dot {
          font-size: 12px;
          color: #428bca;
        }
      }
  
      &.http-keymap td>.cell {
        text-overflow: unset;
      }
    }

    .el-pagination {
      margin-top: 15px;
      text-align: right;
      // font-family: Comic Sans MS;
    }

    .el-pagination__jump .el-input__inner {
      border-radius: 0;
    }

    .page-tools {
      position: absolute;
      z-index: 5;
      width: 100%;
      padding: 15px 30px 0px;
      text-align: right;

      .el-button {
        border: 0;
        background-color: transparent;

        &.refresh {
          animation: rotating 2s linear infinite;
        }

        &:focus, &:hover {
          color: #606266;
        }
      }

      i {
        font-size: 16px;
      }
    }

    .el-form-item {
      .el-input__inner {
        border-radius: 0;
      }

      .el-textarea__inner {
        border-radius: 0;
      }
      
      .el-textarea .el-input__count {
        right: 20px;
        line-height: 1.2;
      }

      .el-button {
        border-radius: 0;
      }

      .el-button--primary {
        width: 120px;
      }

      .el-checkbox.is-bordered {
        margin-right: 10px;
      }

      .el-radio.is-bordered {
        margin-right: 10px;
      }

      .el-checkbox.is-bordered+.el-checkbox.is-bordered {
        margin-left: 0;
      }

      .el-radio.is-bordered+.el-radio.is-bordered {
        margin-left: 0;
      }

      .el-radio-button:first-child,
      .el-radio-button:last-child {

        .el-radio-button__inner {
          border-radius: 0;
        }
      }

      .el-rate {
        margin-top: 10px;
      }
      
      .el-transfer__buttons {
        display: inline-flex;
        flex-direction: column;
  
        .el-button--primary {
          width: auto;
          border-radius: 4px;
        }

        .el-button+.el-button {
          margin-left: 0;
        }

      }

      .el-transfer-panel {
        width: 240px;
      }

      .el-transfer-panel__body {
        height: 264px;
        overflow: hidden;

        .el-input {
          padding-right: 30px;
        }
      }

      .el-transfer-panel__item {
        margin-left: 0;
        display: block!important;
      }
    }

    .form-container {
      padding: 0 30px;
      font-family: Lantinghei;
      color: #444242;
      max-width: 960px;
      margin: auto;
      margin-top: 40px;
      min-width: 890px;

      .el-form {
        margin: 40px auto auto;
  
        .el-form-item {
          margin-bottom: 28px;
        }
  
        .el-form-item__label {
          padding-right: 20px;
          color: #777;
        }
  
        
      }

      .footer {
        margin-left: 150px;
      }
    }

    .search-container {
      margin-bottom: 20px;
      padding: 20px 15px 0;
      background: #fbfbfb;
      border: 1px solid #d9d9d9;
      border-radius: 6px;

      .footer {
        border-top: 1px dashed #e8e8e8;
        padding: 20px 15px 0;
        margin: 0 0 20px;
        width: inherit;
      }
    }

    .el-dropdown-disabled {
      .el-button {
        color: #C0C4CC;
        cursor: not-allowed;
        background-image: none;
        background-color: #FFF;
        border-color: #EBEEF5;
      }
    }

    .example {
      margin: auto;
      margin-top: 10px;
      max-width: 1200px;

      .el-card__body h2 {
        margin-top: 0;
      }
    }

    .container {
      position: relative;

      .tools {
        position: absolute;
        z-index: 4;
        bottom: 10px;
        right: 10px;

        .el-button--mini {
          padding: 7px 9px;
          background: transparent;
          border: 0;
        }
      }
    }
  }
}