// ------------------------------------
// Sass Style
// ------------------------------------

.dashboard-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  min-width: 940px;
  // pointer-events: none;

  &>main {
    padding: 20px 80px 100px 30px;
  }

  .is-disabled {
    color: #d9d9d9;

    &:hover {
      cursor: not-allowed;
    }
  }

  .el-switch__label.is-active {
    color: inherit;
  }

  .el-breadcrumb {
    padding-left: 10px;
    line-height: 15px;
    position: relative;
    height: 18px;
    border-left: 2px #49a9ee solid;
    margin-bottom: 32px;
    min-width: max-content;

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background: rgba(0,0,0,.2);
      position: absolute;
      top: 32px;
      left: -2px;
    }
  }

  .el-table {
    font-family: 'Comic Sans MS';

    .cell {
      text-overflow: unset;

      * {
        margin-right: 2px;
      }
    }

    td>.cell {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .el-pagination__jump .el-input__inner {
    border-radius: 0;
  }

  .form-container {
    padding: 0 30px;
    font-family: Lantinghei;
    color: #444242;
    max-width: 960px;
    margin: auto;
    margin-top: 80px;
    min-width: 890px;

    .el-tree-node__content {
      height: 36px;
    }

    .el-form {
      margin: 40px auto auto;

      .el-form-item {
        margin-bottom: 28px;
      }

      .el-form-item__label {
        padding-right: 20px;
        color: #777;
      }

      .el-input__inner {
        border-radius: 0;
      }

      .el-textarea__inner {
        border-radius: 0;
      }

      .el-button {
        border-radius: 0;
      }

      .el-button--primary {
        width: 120px;
      }

      .el-checkbox.is-bordered {
        margin-right: 10px;
      }

      .el-radio.is-bordered {
        margin-right: 10px;
      }

      .el-checkbox.is-bordered+.el-checkbox.is-bordered {
        margin-left: 0;
      }

      .el-radio.is-bordered+.el-radio.is-bordered {
        margin-left: 0;
      }

      .el-transfer__buttons {
  
        .el-button--primary {
          width: auto;
        }

      }

      .el-transfer-panel__body {
        height: 264px;

        .el-input {
          width: auto;
        }
      }

      .el-transfer-panel__item {
        margin-left: 0;
        display: block!important;
      }
    }
  }

  .baseinfo {
    padding-top: 4px;
    //width: 520px;
    padding-right: calc(100% - 540px);
    padding-left: 14px;
    position: relative;

    h5 {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.1;
      color: #606266;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .avatar {
      padding: 10px 0 30px 120px;
      display: flex;

      img {
        width: 120px;
        height: 120px;
        border-radius: 60px;
      }

      ul {
        list-style-type: none;

        li {
          color: #606266;
          line-height: 1.8;
        }
      }
    }

    .el-form-item {

      span.label {
        color: #606266;
      }
      
      .el-form-item__label {
        font-size: 13px;
        padding-right: 20px;
        width: 120px;
      }

      .el-form-item__content {
        margin-left: 120px;
      }

      .el-input__inner {
        border-radius: 0;
      }

      .el-cascader-menu__item {
        padding-right: 36px;
      }
    }

    .el-button {
      border-radius: 0;
      //width: 100%;
    }
  }

  .submit-box {
    position: fixed;
    //background-color: #f6c69933;
    //border-top: 1px #ff572266 dashed;
    background-color: rgba(244, 244, 244, 0.81);
    border-top: 1px rgba(154, 153, 153, 0.4) dashed;
    width: 100%;
    height: 70px;
    bottom: -70px;
    margin-left: -35px;
    padding: 15px 40px;
    transition: all .3s;
    //padding-left: 156px;
    opacity: 0;
    z-index: 1000;
  }

  .is-show {
    bottom: 0;
    opacity: 1;
  }

  .el-dropdown-disabled {
    .el-button {
      color: #C0C4CC;
      cursor: not-allowed;
      background-image: none;
      background-color: #FFF;
      border-color: #EBEEF5;
    }
  }

  .el-alert--warning {
    border: 1px #fcedd7 solid;
    margin-bottom: 15px;
    border-radius: 0;

    .el-alert__closebtn {
      color: #e6a23c;
    }
  }

  .tb-edit .el-input {
    display: none
  }
  .tb-edit .current-row .el-input {
      display: block
  }
  .tb-edit .current-row .el-input+span {
      display: none
  }

  .add-button {
    border-style: dashed;
    margin-top: 10px; 
    width: 100%;
  }

  .el-pagination {
    margin-top: 15px;
    text-align: right;
    font-family: Comic Sans MS;
  }

  .search-container {
    margin-bottom: 20px;
    padding: 20px 15px 0;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;

    .el-checkbox.is-bordered {
      margin-right: 10px;
    }

    .el-radio.is-bordered {
      margin-right: 10px;
    }

    .el-checkbox.is-bordered+.el-checkbox.is-bordered {
      margin-left: 0;
    }

    .el-radio.is-bordered+.el-radio.is-bordered {
      margin-left: 0;
    }

    .footer {
      border-top: 1px #e8e8e8 dashed;
      padding: 20px 15px 0;
      margin: 0 15px;

      .el-button--primary {
        border-radius: 0;
      }
    }
  }
  .el-select .el-input {
    width: auto;
  }
}