

# 频道 key
key: !!str 2
# 频道 名称
name: 用户中心
# 频道标识
label: ucenter
# 频道描述
description: 管理所有用户的信息，以及登录、注册等等
# 路由入口
route: /ucenter
# 图标
icon: iconfont icon-team
# 选项
options: {}
# 展现条件
conditions: |-
  auth.group.level:
    $gte: 9000
# 分栏页面
children:
  # 帐户管理
  - key: 2-1
    name: 用户管理
    children:
      - key: 2-1-1
        name: 用户组
        description: 管理用户组/角色配置
        keywords: [ 用户中心, 用户管理, 角色, yonghu, yh, jiaose, juese, js ]
        route: /ucenter/group
        configuration: /api/project/configuration/ucenter/group.yaml
        refresh: true
        disabled: |-
          auth.group.level:
            $lt: 9998
      - key: 2-1-2
        name: 查询用户
        description: 查询/管理用户信息
        keywords: [ 用户中心, 用户管理, yonghu, yh ]
        route: /ucenter/user
        configuration: /api/project/configuration/ucenter/user.yaml
        refresh: true
        disabled: |-
          auth.group.level:
            $lt: 9998
      - key: 2-1-3
        name: 团队管理
        description: 创建、设置团队权限
        keywords: [ 用户中心, 团队管理, yonghu, yh, tuandui, td, team ]
        route: /ucenter/team
        configuration: /api/project/configuration/ucenter/team.yaml
        refresh: true
        disabled: |-
          auth.group.level:
            $lt: 9998
      - key: 2-1-4
        name: 消息管理
        description: 发送消息通知
        keywords: [ 用户中心, 消息通知, yonghu, yh, message, msg, notify ]
        route: /ucenter/notification
        configuration: /api/project/configuration/ucenter/notification.yaml
        refresh: true
        disabled: |-
          auth.group.level:
            $lt: 9998
  # 票据管理
  - key: 2-2
    name: 票据管理
    children:
      - key: 2-1-1
        name: 票据列表
        description: 管理用户组/角色配置
        keywords: [ 用户中心, 票据管理, 票据列表, yonghu, yh, piaoju, ticket, pj ]
        route: /ucenter/ticket
        configuration: /api/project/configuration/ucenter/ticket.yaml
        refresh: true
        disabled: |-
          auth.group.level:
            $lt: 9998